.choice_text{
    height: 48px;
    width: 100%;
    padding: 4px;
    background-color:whitesmoke;
    padding-top: 12px;
}
.correct{
    background-color:rgb(28, 211, 28);
}
.incorrect{
background-color: rgb(235, 52, 52);
}

#hud{
   display: flex;
   justify-content: space-between;
   text-decoration-color: rgb(47, 47, 240);
}
